<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="10" name="Test">
	  <groups>
		<define name="dailybuilt">
			<include name="FunctionalTest"></include>
			<include name="NonFunctionalTest"></include>
		</define>
		<define name="NonFunctionalBuilt">
			<include name="NonFunctionalTest"></include>
		</define>
		<define name="FunctionalBuilt">
			<include name="FunctionalTest"></include>
		</define>
		<run>
			<include name="dailybuilt"></include>
		</run>
	</groups>
	
    <classes>
      <class name="FarisShaikh.DemoWebsiteAutomation.LoginTestSuite"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
